In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [64]:
df = pd.read_csv('Data/student-mat.csv', delimiter=';')

In [5]:
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [6]:
df.isna().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [8]:
df.address.value_counts()

U    307
R     88
Name: address, dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 102.0+ KB

In [72]:
for label, content in df.items():
    if pd.api.types.is_numeric_dtype(content):
        df_num[label] = pd.DataFrame(content)

In [73]:
df_num.head()

,G3,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,6,18,4,4,2,2,0,4,3,4,1,1,3,6,5,6
1,6,17,1,1,1,2,0,5,3,3,1,1,3,4,5,5
2,10,15,1,1,1,2,3,4,3,2,2,3,3,10,7,8
3,15,15,4,2,1,3,0,3,2,2,1,1,5,2,15,14
4,10,16,3,3,1,2,0,4,3,2,1,2,5,4,6,10

In [74]:
df_num.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   G3          395 non-null    int64
 1   age         395 non-null    int64
 2   Medu        395 non-null    int64
 3   Fedu        395 non-null    int64
 4   traveltime  395 non-null    int64
 5   studytime   395 non-null    int64
 6   failures    395 non-null    int64
 7   famrel      395 non-null    int64
 8   freetime    395 non-null    int64
 9   goout       395 non-null    int64
 10  Dalc        395 non-null    int64
 11  Walc        395 non-null    int64
 12  health      395 non-null    int64
 13  absences    395 non-null    int64
 14  G1          395 non-null    int64
 15  G2          395 non-null    int64
dtypes: int64(16)
memory usage: 49.5 KB

In [17]:
for label, content in df.items():
    if not pd.api.types.is_numeric_dtype(content):
        df[label] = pd.Categorical(content).codes + 1

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    int8
 1   sex         395 non-null    int8
 2   age         395 non-null    int64
 3   address     395 non-null    int8
 4   famsize     395 non-null    int8
 5   Pstatus     395 non-null    int8
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    int8
 9   Fjob        395 non-null    int8
 10  reason      395 non-null    int8
 11  guardian    395 non-null    int8
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    int8
 16  famsup      395 non-null    int8
 17  paid        395 non-null    int8
 18  activities  395 non-null    int8
 19  nursery     395 non-null    int8
 20  higher      395 non-null    int8
 21  internet    395 non-null    int8
 22  romantic    395 non-null    int8
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), int8(17)
memory usage: 56.1 KB

In [19]:
X = df.drop('G3', axis=1)
y = df.G3

In [20]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 32 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    int8
 1   sex         395 non-null    int8
 2   age         395 non-null    int64
 3   address     395 non-null    int8
 4   famsize     395 non-null    int8
 5   Pstatus     395 non-null    int8
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    int8
 9   Fjob        395 non-null    int8
 10  reason      395 non-null    int8
 11  guardian    395 non-null    int8
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    int8
 16  famsup      395 non-null    int8
 17  paid        395 non-null    int8
 18  activities  395 non-null    int8
 19  nursery     395 non-null    int8
 20  higher      395 non-null    int8
 21  internet    395 non-null    int8
 22  romantic    395 non-null    int8
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
dtypes: int64(15), int8(17)
memory usage: 53.0 KB

In [23]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((316, 32), (316,), (79, 32), (79,))

In [61]:
np.random.seed(42)

model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [62]:
model.score(X_test, y_test)

0.8328327077058424

In [33]:
from sklearn.ensemble import RandomForestRegressor

rf_model = RandomForestRegressor(random_state=42)
rf_model.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [34]:
rf_model.score(X_test, y_test)

0.8830652863794585

In [42]:
from sklearn.model_selection import RandomizedSearchCV

rf_grid = {
    'n_estimators': np.arange(10, 100, 10),
    'max_features': ['auto', 'sqrt'],
    'max_depth': np.arange(10, 110, 10),
    'min_samples_leaf': [1, 2, 4],
    'min_samples_split': [2, 5, 10]
}

rs_rf = RandomizedSearchCV(RandomForestRegressor(random_state=42),
                           param_distributions=rf_grid,
                           cv=5,
                           n_iter=100,
                           random_state=42)

rs_rf.fit(X_train, y_train)

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=RandomForestRegressor(bootstrap=True,
                                                   ccp_alpha=0.0,
                                                   criterion='mse',
                                                   max_depth=None,
                                                   max_features='auto',
                                                   max_leaf_nodes=None,
                                                   max_samples=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=1,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   n_estimators=100,
                                                   n_jobs=None, oob_score=Fals...
                   iid='deprecated', n_iter=100, n_jobs=None,
                   param_distributions={'max_depth': array([ 10,  20,  30,  40,  50,  60,  70,  80,  90, 100]),
                                        'max_features': ['auto', 'sqrt'],
                                        'min_samples_leaf': [1, 2, 4],
                                        'min_samples_split': [2, 5, 10],
                                        'n_estimators': array([10, 20, 30, 40, 50, 60, 70, 80, 90])},
                   pre_dispatch='2*n_jobs', random_state=42, refit=True,
                   return_train_score=False, scoring=None, verbose=0)

In [43]:
rs_rf.best_params_

{'n_estimators': 70,
 'min_samples_split': 2,
 'min_samples_leaf': 2,
 'max_features': 'auto',
 'max_depth': 80}

In [44]:
rs_rf.score(X_test, y_test)

0.8805690862589288

In [50]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

y_preds = rs_rf.predict(X_test)

In [51]:
y_preds[:10]

array([14.30666667,  0.22      , 13.58751701, 11.31394558,  3.28261905,
        8.85547619, 15.14928571, 13.67142857,  9.48452381, 15.02571429])

In [54]:
print(f'R2 Score: {r2_score(y_test, y_preds) * 100 :.2f}%')
print(f'MAE: {mean_absolute_error(y_test, y_preds)}')
print(f'MSE: {mean_squared_error(y_test, y_preds)}')

R2 Score: 88.06%
MAE: 1.0075111291160113
MSE: 2.539911465662139

In [75]:
X, y = df_num.drop('G3', axis=1), df_num.G3

X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=0.2)

In [77]:
linear_model = LinearRegression()
linear_model.fit(X_train, y_train)
linear_model.score(X_test, y_test)

0.7803580213768331